<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- TODO: restore com.apple.developer.carplay-audio once Apple grants CarPlay audio entitlement (https://developer.apple.com/contact/carplay/). -->
<plist version="1.0">
<dict>
</dict>
</plist>
